:root {
    --color-pallete-01: #0e9aa7;
    --color-pallete-02: #3da4ab;
    --color-pallete-03: #f6cd61;
    --color-pallete-04: #fe8a71;
    --color-dark: #000;
    --color-blank: #fff;

    --font-main: 'Ubuntu', sans-serif;
    --font-secondary: 'Pacifico', cursive;

    --font-size-header: 32px;
    --font-size-title: 36px;
    --font-size-title-lineheight: 48px;
    --font-size-subtitle: 28px;
    --font-size-subtitle-lineheight: 36px;
    --font-size-paragraph: 24px;
    --font-size-paragraph-lineheight: 36px;
    --font-size-lit: 20px;
    --font-size-lit-lineheight: 36px;

    --font-size-pdf: 20px;
    --font-size-pdf-lineheight: 28px;
}

* {
    box-sizing: border-box;
}

.row {display: flex;flex-wrap: wrap;margin-left: -12px;margin-right: -12px;}
.col-12 {width: 100%;padding-left: 24px;padding-right: 24px;}
.col-6 {width: 50%;padding-left: 24px;padding-right: 24px;}
.col-4 {width: 33.333333333%;padding-left: 24px;padding-right: 24px;}
.col-3 {width: 25%;padding-left: 24px;padding-right: 24px;}

body {
    font-family: var(--font-main);
    font-size: 24px;
}

.header {
    font-family: var(--font-secondary);
    font-size: var(--font-size-header);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 64px;
    padding: 12px 24px;
    color: var(--color-blank);
    background-color: var(--color-pallete-01);
}

.container {
    display: block;
    font-size: var(--font-size-paragraph);
    line-height: var(--font-size-paragraph-lineheight);
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.link {
    display: block;
    font-size: var(--font-size-paragraph);
    line-height: var(--font-size-paragraph-lineheight);
    text-decoration: none;
    color: rgb(0, 0, 238);
}

.link + .link {
    margin-top: 16px;
}

.section {
    padding-top: 64px;
    padding-bottom: 64px;
}

.title {
    display: block;
    margin: 36px 0;
    font-size: var(--font-size-title);
    line-height: var(--font-size-title-lineheight);
}

.subtitle {
    display: block;
    margin: 36px 0;
    font-size: var(--font-size-subtitle);
    line-height: var(--font-size-subtitle-lineheight);
}

.paragraph {
    font-size: var(--font-size-paragraph);
    line-height: var(--font-size-paragraph-lineheight);
    font-weight: lighter;
    text-indent: 24px;
}

.list {
    font-size: var(--font-size-paragraph);
    line-height: var(--font-size-paragraph-lineheight);
    font-weight: lighter;
    text-decoration: none;
}

.list + .list {
    margin-top: 12px;
}

.lit {
    font-size: var(--font-size-lit);
    line-height: var(--font-size-lit-lineheight);
    text-indent: 40px;
}

.lit + .lit {
    margin-top: 24px;
}

.separator {
    max-width: 400px;
    margin-top: 64px;
    border: 2px solid var(--color-dark);
    border-radius: 4px;
}

.essay {
    margin-top: 40px;
}

.links {
    margin-top: 20px;
}

.pdf-link {
    font-size: var(--font-size-pdf);
    line-height: var(--font-size-pdf-lineheight);
    font-weight: lighter;
    display: block;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    transition: background ease-in-out .3s;
    color: var(--color-blank);
    background-color: var(--color-pallete-02);
}

.pdf-link:hover {
    background-color: var(--color-pallete-01);
}

.pdf-link + .pdf-link {
    margin-top: 12px;
}

